<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="/login" method="post">
            <div>
                <label for="email">Email: </label>
                <input name="email" id="email" style="margin-left: 100px" required type="email" />
            </div>
            <br />
            <div>
                <label for="password">Password: </label>
                <input name="password" id="password" style="margin-left: 75px" type="password" />
            </div>
            <br />
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
